body {
    font-family: 'Kalam', cursive;
    color: rgb(8, 3, 3);
    background: url(../img/fondoDeInversion.jpg);
    height: 95vh;
    background-size: 175% auto; 
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    scroll-behavior: auto;
}

.darkMode{
    background: url(../img/fondoDark.jpg);
    color: whitesmoke;
    background-size: 213% auto; 
}

.logo{
    display: grid;
    margin: auto;
    margin-top: 1rem;
}

.iconoLoading{
    display: grid;
    margin: auto;
    animation-name: girarEjeX;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
  
@keyframes girarEjeX{
from{
    transform: rotate(0deg)
}
to {
    transform: rotate(360deg)
}
}

.switchDarkMode{  
    margin-top: 1.5rem;
    margin-bottom: -3rem;
    font-weight: bold;
    justify-content: right;
    display: flex;
}

.form-check-input:hover{
    transform: scale(1.4);
}

h1{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.5rem;
}

h2{
    text-align: justify;
}

h3 {
    text-align: justify;
}
p{
    font-size: 1.1rem;
    line-height: 0.6rem;
}

.contenedorSimulaTuCredito {
    margin-top: 1rem;
}

.titularSimulaTuCredito{
    margin-top: 2rem;
    text-align: center;
}

.hidden {
display: none;
}

.contador {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;  
}

.loading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2.5rem;
    font-size: 2rem;
}

.contenedorFooter{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.redes img {
    height: 2rem;
    margin-top: -1rem;
}

.redes a{
    text-decoration: none;
}

.divisas {
    width: 36%;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: -3rem;
    margin-top: 1rem;
}

.preciosDivisas {
    border-color:black;
    border-style:dotted;
    border-radius: 1rem;
    border-width: 0.15rem;
}

h5{
    color:crimson;
    font-size: 1.3rem;
    margin-top: 1rem;
}

h6 {
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

